.sqwer {
    width: 100px;
    height: 100px;
    background-color: red;
    animation-name: example;
    animation-duration: 7s;
    animation-iteration-count: infinite;
}

@keyframes example {
    0% {
        background-color: red;
    }

    25% {
        background-color: blue;
    }

    50% {
        background-color: yellow;
    }

    75% {
        background-color: green;
    }

    100% {
        background-color: red;
    }
}

.sqwer2 {
    width: 100px;
    height: 100px;
    background-color: red;
    animation-name: example2;
    animation-duration: 7s;
    animation-iteration-count: infinite;
}

@keyframes example2 {
    0% {
        background-color: red;
        border-radius: 0;
    }

    25% {
        background-color: blue;
        border-radius: 50px;
    }

    50% {
        background-color: yellow;
        border-radius: 100px;
    }

    75% {
        background-color: green;
        border-radius: 50px;
    }

    100% {
        background-color: red;
        border-radius: 0px;
    }
}

.top {
    background-color: springgreen;
    width: 189px;
    height: 56px;
    margin-left: 385px;
    padding: 8px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border-top-left-radius: 31px;
    border-top-right-radius: 31px;
}

.window {
    background-color: aqua;
    width: 54px;
    height: 55px;
    /* margin-left: 113px; */
    margin-bottom: 0px;
}

.window2 {
    background-color: aqua;
    width: 54px;
    height: 55px;
    /* margin-left: 113px; */
    margin-bottom: 0px;
}

.bottom {
    width: 272px;
    height: 62px;
    background-color: teal;
    margin-left: 353px;
    border-radius: 13px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.colesa {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 335px;
    margin-left: 320px;
}

.coleso {
    width: 71px;
    height: 36px;
    background-color: black;
    /* bottom: 7px; */
    /* margin-top: -26px; */
    /* border-radius: 0px; */
    border-bottom-left-radius: 71px;
    border-bottom-right-radius: 71px;
}
.fara{
    width: 20px;
    height: 20px;
    background-color: yellow;
    border-top-left-radius:11px;
}
.fara2{
    width: 20px;
    height: 20px;
    background-color: yellow;
    border-top-right-radius: 11px;
}
.machin {
    animation-name: mach;
    animation-duration: 4s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    position: absolute;
    margin-top: 407px;
}

@keyframes mach {
    0% {
        left: -1200px
    }

    100% {
        left: 1500px
    }
}

 body{
    background-image: url(img/doroga.webp);
    background-size:cover ;
    background-repeat: no-repeat;
    } 


    /* .golova{
        width: 100px;
        height: 100px;
        background-color: brown;
        border-radius: 60px;
        margin-left: 300px;
        padding: 12px;
    }
.top2{
    display: flex;
    flex-direction: row;
}
    .glaz{
        width: 20px;
    height: 20px;
    background-color: black;
    margin-left: 62px;
    border-radius: 60px;
    }
    .kluv{
        width: 64px;
    height: 39px;
    background-color: yellow;
    margin-top: 36px;
    border-top-right-radius: 78px;
    }

    .puzo{
        width: 100px;
    height: 178px;
    background-color: brown;
    margin-left: 309px;
    border-radius: 61px;
    } */